<div  *ngIf="activePlayer">
    <div class="player" *ngFor="let player of players" [class.highlightPlayer]="activePlayer===player">
        {{player.name}} score: {{player.score}}
    </div>
</div>

<div>
    <table>
        <tr *ngFor="let row of pieceTable">
            <td *ngFor="let column of row" (click)="click(column)">
                <div *ngIf="!column.image || !column.turned" [style.background]="(column.turned ? 'linear-gradient(to left, ' + column.color1 + ', ' + column.color2 + ')' : 'linear-gradient(to top, black, gray, black') | safeCSS"></div>
                <div *ngIf="column.image && column.turned">
                    <img [src]="column.image">
                </div>
            </td>
        </tr>
    </table>
</div>

<div class="gameOver" *ngIf="gameOver">
    {{activePlayer ? activePlayer.name + ' is victorious!': 'Congratulations! You are victorious.'}}
</div>

<div class="clicks"> {{clicks}} clicks </div>