.map {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 3px;
    min-height: 120px;
    background-image: url('../../assets/images/nav-background.jpg');
    color: rgb(255, 255, 200);
}
